# Get the following keys from https://apps.twitter.com
consumer_key = ''
consumer_secret = ''
access_token_key = ''
access_token_secret = ''

# Whitelisted users (optional)
whitelist = []

# E-mail to received report (recommended)
mailto = root

# Twitter will reclaim and reissue usernames after 6 months idle
max_days = 180

# EOF
